{% if testvar == '' %}
This is an empty story.
{% else %}
This is a long story: 
And you know, when a {{ testvar }} man talks {% if testvar == 'fool' %}nobody listens.{% elif testvar == 'wise' %}eveybody listens.{% endif %}
{% endif %}


